.result-card {
  width: 300px;
  margin: 5% 0;
}

mat-card-header {
  overflow: hidden;
}

mat-card-title {
  white-space: nowrap;
}

mat-card-footer {
  width: 332px !important;
  height: 10px !important;
  border-radius: 0 0 5px 5px !important;
}