.result-card {
  width: 300px;
  margin: 5% 0;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.55));
}

mat-card-header {
  white-space: pre-wrap;
}

mat-card-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 35px;
}

mat-card-footer {
  width: 332px !important;
  height: 10px !important;
  border-radius: 0 0 5px 5px !important;
}
