@import '../../../../../../node_modules/@angular/material/theming';
@include mat-core();

.login-element {
  cursor: pointer;
  color: $dark-primary-text;
}

.login-element:hover {
  color: $dark-secondary-text;
}
